.addmovie{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  /* border-style: dotted; */
}
.addmovie > form > div > label{
  text-align: left;
  
}
table{
  /* border-collapse: collapse; */
  margin-left: auto;
  margin-right: auto;
}
th, td {
  padding: 5px;
  text-align: left;
  border: none;
  text-decoration: none;
}
.link{
  border: 1px solid black;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
.link > #back{
  text-decoration: none;
  background-color: #bbb;
  color: #000;
  
}
/* button{
  width: 10px;
  height: ;
} */
