*{
  margin: 0;
  padding: 0;
}
.main {
  display:flexbox;
  flex-direction: row;
  text-align: center;
 
}

.button{
  
  margin-right: auto;
  margin-left: 42vw;
  margin-top: 9vh;
  padding-bottom: 10px;
}


table{
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}
td, th {
  border: 3px solid #000;
  padding: 0.5rem;
  text-align: left;
}

th{
  background-color: cyan;
}